h3.rest-endpoint(id=id, class=`http-${method.toLowerCase()}`)= name
.api-route(class=`http-${method.toLowerCase()}`)
	header
		span.http-method= method
		code.uri= uri

	if snippets
		each snippet in snippets
			| !{snippet}

	if description
		.description
			| !{description}

	if examples
		.examples
			h4 Examples
			ul
				each example in examples
					li= example

	if parameters
		.parameters
			h4 Parameters
			table
				thead
					tr
						th Name
						th Type
						th Description
				tbody
					each parameter in parameters
						tr
							td= parameter.name
							td= parameter.type
							td= parameter.description
